<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-02T03:34:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/tam305/Desktop/BWF/Blood Work Analyzer 19-14-35-707/VitalView.xcodeproj</string>
</dict>
</plist>
